user_uuid = "db1772ea-8241-40a4-9393-78acf8e96e96"
arcanum = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/arcanum"
  content_version = 2 
}
payday = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/payday"
  content_version = 1 
}
terratowns_endpoint = "https://terratowns.cloud//api"